# Commons
.*/

# Languages

# Environments

# Web Service 
# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
dist/
build/

# misc
.DS_Store
.env
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Server

# Data

# Models
__pycache__/*
*.csv
!*.sample.csv
