.assetTitle {
  font-family: "IBM Plex Sans KR";
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.assetWrapper {
  width: 100%;
}

.assetItemRow {
  font-family: "IBM Plex Sans KR";
  justify-content: center;
  font-weight: 600;
}

.assetValue {
  text-align: end;
}
