.backButton {
  color: black;
  text-decoration-line: none;
}

label {
  font-size: 1rem;
  height: 30%;
}

.chartHeaderItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.backButton {
  font-size: 2rem;
}
