.chatting {
  font-family: "IBM Plex Sans KR";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  width: 100%;
  height: 100%;
}
.chattingBody {
  height: 8rem;
  padding: 0 1rem;
  overflow: auto;
}
.chattingHeader {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom: 1px solid black;
}
.nickName {
  font-weight: bold;
}
.roomCode {
  width: 10rem;
  text-align: right;
  margin-left: auto;
}

.chattingFooter {
  background-color: white;
  border: none;
}

.messages {
  padding: 0;
  overflow: auto;
  background-color: white;
  flex: auto;
}

.messageWrapper {
  display: flex;
  padding: 0 0.5rem;
  margin-top: 0.8rem;
}

.message {
  border-radius: 0rem 1rem 1rem 1rem;
  padding: 0.55rem;
}

.justifyStart {
  justify-content: flex-start;
  flex-direction: column;
}

.myMessage {
  background-color: #8ba5ff;
  border-radius: 1rem 1rem 0rem 1rem;
}

.playerMessage {
  background-color: #c4c4c4;
  margin-right: auto;
}

.managerMessage {
  background-color: #ffba52;
  margin-right: auto;
}

.justifyEnd {
  justify-content: flex-end;
}

.chattingInputWrapper {
  border: 1px solid black;
  border-radius: 2rem;
}

.chattingInput {
  border: none;
  background-color: none;
  padding: 0;
  margin: 0.5rem 1rem;
}

.chattingSendButton {
  color: black;
}

.roleCardWrapper {
  background-color: white;
  position: absolute;
  border: 1px solid #c4c4c4;
  border-radius: 3rem;
  height: 20rem;
  width: 95%;
  padding: 1rem;
  text-align: center;
}

.roleCardTitle {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.roleCardContent1 {
  margin-bottom: 1rem;
}

.roleCardContent2 {
  display: flex;
  flex-direction: row;
  height: 10rem;
}

.roleImageWrapper {
  flex: 5;
  height: 100%;
}
.roleAssetWrapper {
  flex: 7;
  padding-right: 1rem;
  text-align: right;
}
.roleImage {
  height: 100%;
}

.totalScore {
  margin-top: 4rem;
}
