.TimeCard {
  background-color: #dee2e6;
  border-radius: 30%;
  margin: 1rem;
  text-align: center;
  width: 4.375rem;
  height: 4.375rem;
}

.clockWrapper {
  font-family: "IBM Plex Sans KR";
  height: 100%;
  font-size: 1.5rem;
  vertical-align: middle;
}

.time {
  color: white;
  vertical-align: middle;
  line-height: 4rem;
  width: 2rem;
}

.second {
  color: wheat;
  font-weight: bold;
}

.red {
  color: rgb(255, 85, 85);
}
