.TimeCard {
  background-color: #dee2e6;
  border-radius: 30%;
  margin: 1rem;
  text-align: center;
  width: 4.375rem;
  height: 4.375rem;
}

.clockContainer {
  font-family: "IBM Plex Sans KR";
  height: 100%;
  font-size: 1.5rem;
  vertical-align: middle;
}

.dark {
  color: white;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}
.week {
  flex: 4;
}
.day {
  flex: 3;
}

.second {
  font-weight: bold;
  flex: 1;
}

.darkSecond {
  color: wheat;
}

.red {
  color: rgb(255, 85, 85);
}
