@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&display=swap");

.header {
  max-height: 10%;
  color: #f0e583;
  background-color: #615f54;
  font-size: 5vh;
  font-weight: 300;
  font-family: "Chakra Petch";
  padding: 0.5rem;
  text-align: center;
}

.logo {
  max-width: 50%;
}

b {
  font-weight: 700;
}
