.mainContainer {
  background-color: #615f54;
  height: 100vh;
  font-family: "IBM Plex Sans KR";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTitle {
  font-family: "Chakra Petch";
  font-style: normal;
  font-size: 8rem;
  color: #f0e583;
  font-weight: 300;
  display: flex;
  justify-content: center;
  padding-top: 12rem;
}

.mainButton {
  background-color: #c4c4c4;
  color: #615f54;
  width: 30rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 600;
  border: none;
  margin-top: 1rem;
}
.mainInput {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  max-width: 30rem;
  height: 5rem;
  text-align: center;
}

.roomCodeModal {
  background-color: #615f54;
  font-family: "IBM Plex Sans KR";
  margin-top: 20%;
}

.roomCodeModal .modal-content {
  border: none;
}

.roomCodeModalHeader {
  background-color: #615f54;
  border: none;
}

.roomCodeModalHeader button {
  border: none;
  background-color: #615f54;
  color: #c4c4c4;
}
.roomCodeModalBody {
  background-color: #615f54;
  padding: 0.5rem 4rem;
}
.roomCodeModalFooter {
  border: none;
  background-color: #615f54;
  justify-content: center;
  padding: 0rem 2rem 4rem;
}

.EnterRoomButton {
  background-color: #c4c4c4;
  color: #615f54;
  width: 15rem;
  height: 3rem;
  border: none;
  font-weight: 700;
}
