.RoomCode {
  background-color: #dee2e6;
  border-radius: 30%;
  margin: 1rem;
  text-align: center;
  width: 4.375rem;
  height: 4.375rem;
  float: right;
  font-weight: bold;
  border: none;
  padding: 0;
}

.readyState {
  line-height: normal;
  color: #c4c4c4;
}

.ready {
  color: #8bdc8a;
}

.play {
  color: rgb(255, 57, 57);
}

.player {
  margin-left: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.playersCount {
  margin-top: 1.2rem;
  margin-left: 3.375rem;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

.playersContainer {
  height: 100%;
  display: block;
  overflow: auto;
}

.label {
  font-size: small;
  font-weight: lighter;
}

.hostIcon {
  color: rgb(235, 200, 2);
  padding-bottom: 0.3rem;
}
