.playContainer {
  height: 100vh;
}

.playHeader {
}

.playRow1 {
  height: 55%;
}

.playRow2 {
  height: 35%;
}

.chattingContainer {
  position: relative;
  padding: 0;
}

.assetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
