.readyButtonWrapper {
  text-align: center;
  font-size: 1.2rem;
}

.readyButton {
  margin-bottom: 3rem;
  width: 15rem;
  font-size: 1.5rem;
  background-color: #c4c4c4;
  border: none;
}

.playActive {
  background-color: rgb(21, 147, 0);
}
