.trade {
  display: flex;
  justify-content: space-between;
}

.tradeCard {
  background-color: rgb(211, 211, 211);
}

.input {
  display: flex;
  flex-direction: column;
}

.board {
  display: flex;
  flex-direction: column;
}

.buttonOuterContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.TradeBoard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: normal;
}
